<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>Menu</ion-title>
    <ion-button slot='end'  (click)="salirSesion()">
        Salir Sesión
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col (click)='actionEnRuta()'>
        <ion-item lines='none'  class='item-focus'>
          <div>
          <ion-img class='logo-img' src='assets/icon/enRuta.jpg'></ion-img>
        </div>
        </ion-item>
        <ion-item lines='none'>
          <ion-label class='logo-text'>Clientes Ruta</ion-label>
        </ion-item> 
      </ion-col>
      <ion-col (click)='actionFueraRuta()' >
        <ion-item lines='none'>
          <ion-img class='logo-img' src='assets/icon/fueraRuta.jpg'></ion-img>
        </ion-item>
        <ion-item lines='none'>
          <ion-label class='logo-text'>Fuera Ruta</ion-label>
        </ion-item> 
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
