<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaulHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Información Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item >
    <ion-button [fill]=buttons[0].fill size='default'  [color]=buttons[0].color (click)="selectButtonTab(0)">General</ion-button>
    <ion-button [fill]=buttons[1].fill size='default'   [color]=buttons[1].color (click)="selectButtonTab(1)">Financiera</ion-button>
    <ion-button [fill]=buttons[2].fill size='default'  [color]=buttons[2].color (click)="selectButtonTab(2)">Histórica</ion-button>
  </ion-item>

  <ion-card *ngIf="oClientes!=null && buttonId_selected==0">
    <ion-item lines='none'>
      <b>{{oClientes.getNombreRazon(oClientes.getATOClientes()[0])}}</b>
    </ion-item>
    <ion-item lines='none'>
      <b>{{oClientes.getATOClientes()[0].getDireccion()}}</b>
    </ion-item>      
    <ion-item lines='none' *ngIf="oClientes.getContacto(oClientes.getATOClientes()[0]).length">
      Contacto: {{oClientes.getContacto(oClientes.getATOClientes()[0])}}
    </ion-item>
    <ion-item lines='none'>
      {{oClientes.getDocIden(oClientes.getATOClientes()[0])}}
    </ion-item>
    <ion-item>
      Dia Ruta: {{oClientes.getATOClientes()[0].getDiaRuta()}}
      Frecuencia: {{oClientes.getATOClientes()[0].getFrecuenciaVisita()}} 
    </ion-item>
    <ion-item lines='none'>
      <ion-icon slot='start' name='at'></ion-icon>
      <ion-label>{{oClientes.getATOClientes()[0].getEmail()}}</ion-label>
    </ion-item>
    <ion-item lines='none'>
    <ion-icon slot='start' name='call'></ion-icon>
      <ion-label>{{oClientes.getTelefonos(oClientes.getATOClientes()[0])}}</ion-label>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="oClientes!=null && buttonId_selected==1">
    Acá irán los datos financieros
  </ion-card>

  <ion-card *ngIf="oClientes!=null && buttonId_selected==2">
      Acá irán los datos históricos
  </ion-card>

</ion-content>
