.input{
    border-bottom: 1px solid  ;
}
.align-center {
    display: flex;
    align-items: center;
}
.logo-img {
    max-height: 10;
    object-fit: contain;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.logo-text{
    align-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem
}