<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaulHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="isRuta=='1'; else titleNoRuta">Clienes En Ruta</ion-title>
    <ng-template #titleNoRuta>
      <ion-title>Clientes Fuera de Ruta</ion-title>
    </ng-template>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-searchbar [(ngModel)]='searchValue' (ionChange)='searchChanged($event)' showCancelButton='true' debounce="500"></ion-searchbar>

  <ion-list *ngIf="message.length>0">
    <ion-item *ngFor="let item of (message)">
      <ion-label text-wrap>
        {{item}}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list  *ngIf='oClientes; else showNoData'>
  <ion-item lines='none' *ngFor="let cliente of (oClientes.getATOClientes())" button (click)="goInfoCliente(cliente)">
    <ion-label>
        <h2>{{oClientes.getNombreRazon(cliente)}}</h2>
        <h3>{{cliente.getDireccion()}}</h3>
    </ion-label>
    <ion-icon slot='end' *ngIf="cliente.getEstadoAtencion()=='A'" name='checkmark-circle' color='success'></ion-icon>
    <ion-icon slot='end' *ngIf="cliente.getEstadoAtencion()!='A'" name='checkmark-circle-outline' color='danger'></ion-icon>
  </ion-item>
  </ion-list>

  <ng-template #ShowNoData>
    <ion-item>No se encontraron clientes.</ion-item>
  </ng-template>
  
  </ion-content>
